CompileFlags:
  Add:
    - std=c++20

  Remove:
  [
      "-forward-unknown-to-host-compiler",
      "-Xcompiler=.*",
      "-Xcompiler= /EHsc",
      "-Xcompiler= -Zi -Ob0 -Od /RTC1",
      "-Xcompiler=-MDd",
      "-Xcompiler=-FdCMakeFiles\\cudacula.dir\\,-FS",
      "--generate-code=*",
      "-rdc=true",
  ]

If:
  PathMatch: .*\.h

CompileFlags:
  Add: -xc++

---

If:
  PathMatch: .*\.cuh

CompileFlags:
  Add: -xcuda
